<?xml version="1.0"?>
<robot name="rov" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <link name="chasis">

        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="1.0"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size = ".3 .15 .1" />
            </geometry>
        </visual>
        <collision name = 'collision'>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size = ".3 .15 .1" />
            </geometry>
        </collision>
    </link>
    <gazebo reference="chasis">
        <material>Gazebo/Blue</material>
    </gazebo>




    <link name="right_thruster">
        <inertial>
            <origin xyz="1.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="0.5"/>
            <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
        </inertial>
        <visual name="rightThruster_visual">
            <origin xyz="1.5707 0.0 0.0" rpy="0.0 0.0 "/>
            <geometry>
                <mesh filename="package://models/meshes/thruster.dae" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="1.5707 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <mesh filename="package://models/meshes/thruster.dae" scale="0.01 0.01 0.01"/>
            </geometry>
        </collision>
    </link>

    <joint name="rightThruster_chasis" type="fixed">
        <origin xyz="0. 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="chasis"/>
        <child link="right_thruster"/>
    </joint>
   
    
</robot>