<?xml version="1.0"?>
  <model>
    <name>ROV</name>
    <version>1.0</version>
    <sdf>urdf/robot.urdf</sdf>
    <author>
      <name>Syed Jawad Akhtar</name>
      <email>syedjawadakhtar@gmail.com</email>
    </author>
    <description>
      This is the ROV model for my major project of final year computer engineering
    </description>
  </model>